* {
  box-sizing: border-box;
}

html, body {
  display: grid;
  height: 100%;
  place-items: center;
}

/*nav style*/

.nav {
  height: 10%;
  position:initial
}



/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.slider-wrap {
  position: relative;
  width: fit-content;
  height: max-content;
  background-color: rgb(154, 147, 147);
}


.mySlides-fade {
  position: relative;
}


.fade-in-image {
  animation-duration: 3s;
  animation-name: slidein;
  opacity: 0.3;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.formulario-leonela-con-encabezado {
  position:fixed;
  top: 25%;
  bottom: 25%;
  right: 25%;
  left: 25%;
  opacity: 1;
  border-radius: 11px;
  box-shadow: 5px 20px 30px;
}

/*height: 50px;
.encabezado-del-formulario-leonela {
  position: absolute;
  
}


padding: 20px;*/

.formulario-leonela input[type=tarea] {
  height: 40px;
  width: 70%;
  margin-bottom: 5px;
  font-size: 16px;
  box-shadow: 4px 2px;
  text-align: center;
  margin: 80px 90px;
}

.formulario-leonela input[type=estado] {
  height: 40px;
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  box-shadow: 4px 2px;
  text-align: center;
  margin: 80px 90px;
}

.formulario-leonela input[type=button] {
  height: 10px;
  width: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  box-shadow: 4px 2px;
  text-align: center;
  margin: 80px 90px;
}